<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>UML Builder Menu</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/account">My Account</a></div>
  </nav>

  
  <section id="menu">
    
  </section>  

  <script src="/assets/menuBundle.js"></script>
</body>
</html>
